@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: linear-gradient(to right, #20A4F3, #0C4767);
    background-attachment: fixed;
}

main{
    background-color: rgb(253, 252, 252);
    box-shadow: 5px 5px 15px #0e4768ce;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
   color: #ffa630; 
   text-align: center;
   text-shadow: 1px 1px 2px #ac7227af;
}

h2{
    color: #bb700d9d;
}

p {
    text-align: justify;
}